
<h5>Order count</h5>
<%= @clean_orders.count %><br><br>

<%= line_chart(@agr_date_count_hash) %>

<%= line_chart(@agr_date_sum_hash) %>


<% @clean_orders.each do |order| %>
  <%= order["PurchaseDate"] %><br>

<% end %>


@clean_orders.PurchaseDate
